.chef-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
  background-color: #fffaf0;
  overflow: hidden;
  position: relative;
}

.chef-image {
  width: 300px;
  transition: transform 0.4s ease;
  will-change: transform;
}

.chef-image:hover {
  transform: rotate(-5deg) scale(1.05);
}
