.navbar {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer; 
  margin-left: 3%;
  margin-top: 10px;
}
.logo-img {
  height: 50px;     
  width: auto;      
  object-fit: contain; 
  display: block;    
  transition: transform 0.2s ease; 
}

.logo-img:hover {
  transform: scale(1.05); 
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-btn{
  background-color: #EE3842;
  color: #F8F8F8;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-btn:hover{
  background-color: #d32f2f;
}

.icon-btn {
  margin-right: 10px;
  background-color: transparent;  
  border: none;                  
  padding: 8px;                  
  border-radius: 50%;           
  cursor: pointer;              
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-flex;         
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  background-color: #dfdada;    
  transform: scale(1.1);        
}

.icon-btn img {
  width: 24px;                  
  height: 24px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}